In [1]:
import pandas as pd

In [3]:
dados= pd.read_csv('dados/aluguel.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [4]:
classes = [0, 2, 4, 6, 100]

In [8]:
quartos = pd.cut(dados.Quartos, classes)
quartos.head(10)

0    (0.0, 2.0]
1    (0.0, 2.0]
2           NaN
3    (0.0, 2.0]
4    (0.0, 2.0]
5    (0.0, 2.0]
6    (4.0, 6.0]
7    (0.0, 2.0]
8           NaN
9    (0.0, 2.0]
Name: Quartos, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [9]:
pd.value_counts(quartos)

(0, 2]      11855
(2, 4]       9715
(4, 6]        706
(6, 100]       85
Name: Quartos, dtype: int64

In [10]:
labels = ['1 e 2 quatos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [14]:
quartos = pd.cut(dados.Quartos, classes, labels = labels)

In [15]:
pd.value_counts(quartos)

1 e 2 quatos         11855
3 e 4 quartos         9715
5 e 6 quartos          706
7 quartos ou mais       85
Name: Quartos, dtype: int64

In [16]:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest= True)

In [17]:
pd.value_counts(quartos)

1 e 2 quatos         21692
3 e 4 quartos         9715
5 e 6 quartos          706
7 quartos ou mais       85
Name: Quartos, dtype: int64