In [1]:
import pandas as pd

In [2]:
imoveis = pd.DataFrame([['Apartamento', None, 970, 68], 
                        ['Apartamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Apartamento', None, 1010, 170], 
                        ['Apartamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Apartamento', 2000, 878, None], 
                        ['Apartamento', 1550, None, 228], 
                        ['Apartamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Condominio', 'IPTU'])

In [3]:
# Elimina os registros que não apresentam a variável Valor:
imoveis.dropna(subset = ['Valor'], inplace = True)
imoveis

          Tipo   Valor  Condominio   IPTU
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         NaN  500.0
4  Apartamento  1500.0       850.0    NaN
6  Apartamento  2000.0       878.0    NaN
7  Apartamento  1550.0         NaN  228.0
8  Apartamento  2500.0       880.0  195.0

In [4]:
#Elimina os imóveis do tipo Apartamento que não apresentam valor 
selecao = (imoveis['Tipo'] == 'Apartamento') & (imoveis['Condominio'].isnull())
imoveis = imoveis[selecao]
imoveis

          Tipo   Valor  Condominio   IPTU
7  Apartamento  1550.0         NaN  228.0

In [5]:
 # Substitui os valores faltantes que restam nas variáveis Condominio e IPTU por zero
imoveis = imoveis.fillna({'Condominio': 0, 'IPTU': 0})
imoveis

          Tipo   Valor  Condominio   IPTU
7  Apartamento  1550.0         0.0  228.0

In [6]:
# Reconstrói o índice do DataFrame resultante:
imoveis.index = range(imoveis.shape[0])
imoveis

          Tipo   Valor  Condominio   IPTU
0  Apartamento  1550.0         0.0  228.0